# Nextflow
work/
.nextflow*
*.log

# Outputs
output/
results/
qc_reports/

# Large / generated
databases/
singularity_cache/
*.tar.gz
*.db

# Input data (keep pipeline clean)
input/
*.fastq*
*.fq*
*.bam
*.vcf

# System
.DS_Store
