params {
    reads = "$projectDir/input"
    db = "$projectDir/databases"

    // Default output directory
    output = "$projectDir/output"

    // Default file publish mode
    file_publish = "copy"
    
    annotation = true

    sanginosus_ref    = "$projectDir/data/S_anginosus_GCF_900636475.1_42197_F01.fna"
    sconstellatus_ref = "$projectDir/data/S_constellatus_GCF_016725005.1_ASM1672500v1.fna"
    sintermedius_ref  = "$projectDir/data/S_intermedius_GCF_900475975.1_46931_F01.fna"

    // Default assembler
    assembler = "shovill"
    // Default assembler thread count (0 means all)
    assembler_thread = 0
    // Default minimum contig length
    min_contig_length = 500

    kraken2_db_remote = "https://genome-idx.s3.amazonaws.com/kraken/k2_standard_16_GB_20260226.tar.gz"
    kraken2_memory_mapping = true
    bracken_read_len = 150        // typical Illumina reads
    bracken_level = "S"           // species level
    bracken_threshold = 10        // minimum reads to report
    sag_species_percentage = 70.00
    top_non_sag_percentage = 5.00

    // Default database for Bakta
    bakta_db_remote = "https://zenodo.org/records/14916843/files/db-light.tar.xz"

    

    // Default QC values
    contigs = 500
    length_low = 1800000
    length_high = 2300000
    depth = 20.00
    ref_coverage = 70.00
    het_snp_site = 220
    
    // Toggle for removing .bam and .sam files mid-run to reduce storage requirement
    // Warning: This will break the -resume function of Nextflow 
    lite = false
}

process {

    maxRetries = 2
    errorStrategy = { task.attempt <= process.maxRetries ? 'retry' : 'ignore' }
    
    withLabel: bash_container {
        container = 'sag-utils:latest'
    }

    withLabel: python_container {
        container = 'amancevice/pandas:3.0.0'
    }

    withLabel: fastp_container {
        container = 'quay.io/biocontainers/fastp:0.23.2--h79da9fb_0'
    }

    withLabel: shovill_container {
    container = 'quay.io/biocontainers/shovill:1.1.0--hdfd78af_1'
    }

    withLabel: quast_container {
    container = 'staphb/quast:5.3.0'
    }

    withLabel: bwa_container {
        container = 'staphb/bwa:0.7.19'
    }

    withLabel: samtools_container {
        container = 'staphb/samtools:1.23'
    }

    withLabel: bcftools_container {
        container = 'staphb/bcftools:1.23'
    }

    withLabel: kraken2_container {
        container = 'staphb/kraken2:2.17.1'
    }
    withLabel: bracken_container {
        container = 'staphb/bracken:2.9'
    }

    withLabel: bakta_container {
    container = 'ghcr.io/oschwengers/bakta:latest'
}
}
profiles {
    standard {
        process {
            executor = 'local'
            maxForks = 2
        }

        docker {
            enabled = true
            runOptions = '--platform linux/amd64 -u $(id -u):$(id -g)'
        }
    }

lsf {



    params.singularity_cachedir = "$projectDir/singularity_cache"

    params.kraken2_memory_mapping = false

    params.bakta_db_remote = "https://zenodo.org/records/14916843/files/db.tar.xz"

    process {

        executor = 'lsf'

        scratch = true

        maxRetries = 2

        errorStrategy = 'terminate'

        // ---- Containers ----

        withLabel: bash_container {

            container = 'wbitt/network-multitool:3.22.2'

        }

        withLabel: python_container {

            container = 'amancevice/pandas:3.0.0'

        }

        withLabel: fastp_container {

            container = 'staphb/fastp:1.1.0'

        }

        withLabel: shovill_container {

            container = 'staphb/shovill:1.4.2'

        }

        withLabel: quast_container {

            container = 'staphb/quast:5.3.0'

        }

        withLabel: bwa_container {

            container = 'staphb/bwa:0.7.19'

        }

        withLabel: samtools_container {

            container = 'staphb/samtools:1.23'

        }

        withLabel: bcftools_container {

            container = 'staphb/bcftools:1.23'

        }

        withLabel: kraken2_container {

            container = 'staphb/kraken2:2.17.1'

        }

        withLabel: bracken_container {

            container = 'staphb/bracken:2.9'

        }

        withLabel: bakta_container {

            container = 'staphb/bakta:1.11.4'

        }

        // ---- Resources ----

        withLabel: farm_low {

            cpus = 1

            memory = 1.GB

            time = '30 min'

        }

        withLabel: farm_mid {

            cpus = 8

            memory = 8.GB

            time = '2 h'

        }

        withLabel: farm_high {

            cpus = 16

            memory = 32.GB

            time = '4 h'

        }
        withLabel: farm_assembler {

            cpus = 16

            memory = 32.GB

            time = '8 h'

        }

        withLabel: farm_slow {

            time = '12 h'

        }

        withLabel: farm_scratchless {

            scratch = false

        }

        }

        executor {

            perJobMemLimit = true

        }

        singularity {

            enabled = true

            autoMounts = true

            cacheDir = params.singularity_cachedir

        }    
    }


}
